In [1]:
# importing necessary liberary 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")

In [2]:
movies = pd.read_csv("tmdb_movies_data.csv")
movies.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,137999939.3,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,137999939.3,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,101199955.5,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,183999919.0,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,174799923.1,1.385749e+09

In [3]:
movies.shape

(10866, 21)

In [4]:
movies.dtypes

id                        int64
imdb_id                  object
popularity              float64
budget                    int64
revenue                   int64
original_title           object
cast                     object
homepage                 object
director                 object
tagline                  object
keywords                 object
overview                 object
runtime                   int64
genres                   object
production_companies     object
release_date             object
vote_count                int64
vote_average            float64
release_year              int64
budget_adj              float64
revenue_adj             float64
dtype: object

In [5]:
movies.isnull().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [6]:
movies.drop(['homepage','vote_count','vote_average','budget_adj','revenue_adj','production_companies'], axis=1,inplace= True)

In [7]:
movies['keywords'][89]

'murder|serial killer|military|chili|soviet union'

In [8]:
# keep in the data
# id
# keywords
# title
# overview
# cast
# director

In [9]:
movies = movies[['id',"original_title","genres","keywords","overview","cast","director"]]

In [10]:
movies.head()

,id,original_title,genres,keywords,overview,cast,director
0,135397,Jurassic World,Action|Adventure|Science Fiction|Thriller,monster|dna|tyrannosaurus rex|velociraptor|island,Twenty-two years after the events of Jurassic ...,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow
1,76341,Mad Max: Fury Road,Action|Adventure|Science Fiction|Thriller,future|chase|post-apocalyptic|dystopia|australia,An apocalyptic story set in the furthest reach...,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller
2,262500,Insurgent,Adventure|Science Fiction|Thriller,based on novel|revolution|dystopia|sequel|dyst...,Beatrice Prior must confront her inner demons ...,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke
3,140607,Star Wars: The Force Awakens,Action|Adventure|Science Fiction|Fantasy,android|spaceship|jedi|space opera|3d,Thirty years after defeating the Galactic Empi...,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams
4,168259,Furious 7,Action|Crime|Thriller,car race|speed|revenge|suspense|car,Deckard Shaw seeks revenge against Dominic Tor...,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan

In [11]:
movies.isnull().sum()

id                   0
original_title       0
genres              23
keywords          1493
overview             4
cast                76
director            44
dtype: int64

In [12]:
movies.dropna(inplace=True)

In [13]:
movies.duplicated().sum()

1

In [14]:
movies.drop_duplicates(inplace=True)

In [15]:
movies.shape

(9305, 7)

In [16]:
movies.head(1)

,id,original_title,genres,keywords,overview,cast,director
0,135397,Jurassic World,Action|Adventure|Science Fiction|Thriller,monster|dna|tyrannosaurus rex|velociraptor|island,Twenty-two years after the events of Jurassic ...,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow

In [17]:
movies['genres'][1]

'Action|Adventure|Science Fiction|Thriller'

In [18]:
movies['genres'] = movies['genres'].str.replace("|",",")
movies['keywords'] = movies['keywords'].str.replace("|",",")

In [19]:

# Assuming 'cast' is the name of the column containing cast names
movies['cast'] = movies['cast'].astype(str)
movies['cast'] = movies['cast'].str.replace("|", ",").str.split(",").apply(lambda x : x[:3])

In [20]:
movies

,id,original_title,genres,keywords,overview,cast,director
0,135397,Jurassic World,"Action,Adventure,Science Fiction,Thriller","monster,dna,tyrannosaurus rex,velociraptor,island",Twenty-two years after the events of Jurassic ...,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan]",Colin Trevorrow
1,76341,Mad Max: Fury Road,"Action,Adventure,Science Fiction,Thriller","future,chase,post-apocalyptic,dystopia,australia",An apocalyptic story set in the furthest reach...,"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne]",George Miller
2,262500,Insurgent,"Adventure,Science Fiction,Thriller","based on novel,revolution,dystopia,sequel,dyst...",Beatrice Prior must confront her inner demons ...,"[Shailene Woodley, Theo James, Kate Winslet]",Robert Schwentke
3,140607,Star Wars: The Force Awakens,"Action,Adventure,Science Fiction,Fantasy","android,spaceship,jedi,space opera,3d",Thirty years after defeating the Galactic Empi...,"[Harrison Ford, Mark Hamill, Carrie Fisher]",J.J. Abrams
4,168259,Furious 7,"Action,Crime,Thriller","car race,speed,revenge,suspense,car",Deckard Shaw seeks revenge against Dominic Tor...,"[Vin Diesel, Paul Walker, Jason Statham]",James Wan
...,...,...,...,...,...,...,...
10861,21,The Endless Summer,Documentary,"surfer,surfboard,surfing","The Endless Summer, by Bruce Brown, is one of ...","[Michael Hynson, Robert August, Lord 'Tally Ho...",Bruce Brown
10862,20379,Grand Prix,"Action,Adventure,Drama","car race,racing,formula 1",Grand Prix driver Pete Aron is fired by his te...,"[James Garner, Eva Marie Saint, Yves Montand]",John Frankenheimer
10863,39768,Beregis Avtomobilya,"Mystery,Comedy","car,trolley,stealing car",An insurance agent who moonlights as a carthie...,"[Innokentiy Smoktunovskiy, Oleg Efremov, Georg...",Eldar Ryazanov
10864,21449,"What's Up, Tiger Lily?","Action,Comedy",spoof,"In comic Woody Allen's film debut, he took the...","[Tatsuya Mihashi, Akiko Wakabayashi, Mie Hama]",Woody Allen
10865,22293,Manos: The Hands of Fate,Horror,"fire,gun,drive,sacrifice,flashlight",A family gets lost on the road and stumbles up...,"[Harold P. Warren, Tom Neyman, John Reynolds]",Harold P. Warren

#### now we are do one thing that is we remove whitespace from cast name director name keywords and genres because of if multiple name is in the data than the model is cosider it a separate name like jhon willson and jhon cena is different name but model is consider it three different names jhon ,willson, and cena but these are only two persons name so we remove whitespace from these keywords

In [21]:
movies['genres'] = movies['genres'].apply(lambda x : [i.replace(" ", "") for i in x.split(",")])
movies['cast'] = movies['cast'].apply(lambda x : [i.replace(" ", "") for i in x])
movies['director'] = movies['director'].apply(lambda x :[i.replace(" ","") for i in x.split(",")])
movies['keywords'] = movies['keywords'].apply(lambda x :[i.replace(" ","") for i in x.split(",")])
movies['overview'] = movies['overview'].apply(lambda x : x.split(",")) # to making into list column from string column

In [22]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['director']

In [23]:
# now we create a new dataframe 
new_data = movies[['id','original_title','tags']]

In [24]:
new_data.head(2)

,id,original_title,tags
0,135397,Jurassic World,[Twenty-two years after the events of Jurassic...
1,76341,Mad Max: Fury Road,[An apocalyptic story set in the furthest reac...

In [25]:
#  now we are changing list into string 
new_data['tags'] = new_data['tags'].apply(lambda x :" ".join(x))

In [26]:
# now convert tags column into lowercase 
new_data['tags'] = new_data['tags'].apply(lambda x :x.lower())

In [41]:
new_data.tail()

,id,original_title,tags
10861,21,The Endless Summer,the endless summer by bruce brown is one of th...
10862,20379,Grand Prix,grand prix driver pete aron is fire by hi team...
10863,39768,Beregis Avtomobilya,an insur agent who moonlight as a carthief ste...
10864,21449,"What's Up, Tiger Lily?",in comic woodi allen' film debut he took the j...
10865,22293,Manos: The Hands of Fate,a famili get lost on the road and stumbl upon ...

In [42]:
new_data.shape

(9305, 3)

In [28]:
new_data['tags'][0]

'twenty-two years after the events of jurassic park  isla nublar now features a fully functioning dinosaur theme park  jurassic world  as originally envisioned by john hammond. action adventure sciencefiction thriller monster dna tyrannosaurusrex velociraptor island chrispratt brycedallashoward irrfankhan colintrevorrow'

##### now we are doing vectorization on the data

##### now our task is predict 5 similiar movies based on the similarity of their tags now our task is find the similarity between the tags now what we do we can convert the textual data into vector and then we find nearest 5 vector .

In [29]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000,stop_words='english')
vector = cv.fit_transform(new_data['tags']).toarray()

In [30]:
import nltk
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [31]:
def stem(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [32]:
new_data['tags'] = new_data['tags'].apply(stem)

#### now here we find distance between the vector but we not use eucdlne distance we use here coshine distance that is find angle difference between vector.

In [33]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)
similarity
def recommend(movie):
    movie_index = new_data[new_data['original_title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(new_data.iloc[i[0]].original_title)

In [34]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

# now making a function that recommend movies

def recommend(movies):
    movie_index = new_data[new_data['original_title']==movies].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x :x[1])[1:6]
    for i in movie_list:
        print(new_data.iloc[i[0]].original_title)

In [35]:
recommend("Jurassic World")

Futureworld
The Lost World: Jurassic Park
Jurassic Park
Godzilla
Dark Ride

In [36]:
import pickle

pickle.dump(new_data.to_dict(), open('movies_dict.pkl', 'wb'))

In [37]:
pickle.dump(similarity,open("similarity.pkl","wb"))

In [38]:
# from sklearn.feature_extraction.text import TfidfVectorizer
# from sklearn.metrics.pairwise import cosine_similarity

# # Assuming `new_data` has a column 'combined_features' with concatenated strings of useful features
# tfidf = TfidfVectorizer(max_features=5000,stop_words='english')
# tfidf_matrix = tfidf.fit_transform(new_data['tags'])

# # Compute cosine similarity matrix
# similarity = cosine_similarity(tfidf_matrix)

# # Function to recommend movies
# def recommends(movie_title):
#     try:
#         movie_index = new_data[new_data['original_title'] == movie_title].index[0]
#         distances = similarity[movie_index]
#         movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]
#         print(f"Movies similar to {movie_title}:")
#         for i in movie_list:
#             print(new_data.iloc[i[0]].original_title)
#     except IndexError:
#         print(f"No movie found with title '{movie_title}'")

# Example usage

In [39]:
recommends("The Avengers")  # Make sure the movie title matches exactly

NameError: name 'recommends' is not defined

In [ ]:
movies_dict = pickle.load(open("movies_dict.pkl","rb"))
print(type(movies_dict))

<class 'dict'>

In [40]:
new_data[new_data['original_title']=="Home Alone"].index

Index([10094], dtype='int64')

In [ ]:
# def split_file(input_file, chunk_size):
#     with open(input_file, 'rb') as f:
#         chunk_num = 0
#         while True:
#             chunk = f.read(chunk_size)
#             if not chunk:
#                 break
#             with open(f'{input_file}_part_{chunk_num}', 'wb') as chunk_file:
#                 chunk_file.write(chunk)
#             chunk_num += 1

# # Usage
# input_file = 'similarity.pkl'
# chunk_size = 100 * 1024 * 1024  # 100 MB
# split_file(input_file, chunk_size)